<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="login-container mat-elevation-z8">
    <button mat-icon-button class="close-button" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>

    <!-- Pestañas principales -->
    <div class="tab-header">
        <button [class.active]="activeTab === 'login'" (click)="activeTab = 'login'">Login Admin</button>
        <button [class.active]="activeTab === 'register'" (click)="activeTab = 'register'">Registrar usuario</button>
    </div>

    <div class="form-container">

        <!-- Login ADMIN -->
        @if (activeTab === 'login') {
        <form class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-fields">
                <div class="form-header">
                    <h2 class="mat-headline-5">Bienvenido Administrador</h2>
                    <p class="subtitle mat-body-1">Por favor inicia sesión para continuar</p>
                    <div class="divider"></div>
                </div>

                <mat-form-field appearance="outline" class="form-group">
                    <mat-label>Nombre completo</mat-label>
                    <input matInput type="text" name="nombre" [(ngModel)]="nombre" required #nombreCtrl="ngModel">
                    <mat-icon matPrefix>person</mat-icon>
                    @if (nombreCtrl.invalid && nombreCtrl.touched) {
                    <mat-error>El nombre es obligatorio</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-group">
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput type="text" name="username" [(ngModel)]="username" required #usernameCtrl="ngModel">
                    <mat-icon matPrefix>account_circle</mat-icon>
                    @if (usernameCtrl.invalid && usernameCtrl.touched) {
                    <mat-error>El nombre de usuario es obligatorio</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-group">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" [(ngModel)]="password"
                        required #passwordCtrl="ngModel">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                    </button>
                    @if (passwordCtrl.invalid && passwordCtrl.touched) {
                    <mat-error>La contraseña es obligatoria</mat-error>
                    }
                </mat-form-field>

                <div class="login-status">
                    @if (loginAttempts > 0) {
                    <p class="attempts-warning" [class.last-attempt]="loginAttempts >= maxAttempts - 1">
                        Intentos fallidos: {{loginAttempts}}/{{maxAttempts}}
                    </p>
                    }
                    @if (isAccountLocked) {
                    <div class="unlock-account-container">
                        <p class="locked-message">Tu cuenta ha sido bloqueada</p>
                        <button mat-raised-button color="warn" class="unlock-btn" (click)="showUnlockAccountDialog()">
                            Desbloquear cuenta
                        </button>
                    </div>
                    }
                </div>
            </div>
            <div class="button-container">
                <button mat-raised-button type="submit" class="auth-btn" color="primary"
                    [disabled]="!loginForm.form.valid || isAccountLocked">
                    Ingresar
                </button>
            </div>
        </form>
        }

        <!-- Registro de usuario -->
        @if (activeTab === 'register') {
        <form class="login-form" (ngSubmit)="onRegister()" #registerForm="ngForm">
            <div class="form-fields">
                <mat-form-field appearance="outline" class="form-group">
                    <mat-label>Nombre de Usuario</mat-label>
                    <input matInput type="text" name="regUsername" [(ngModel)]="regUsername" required minlength="6"
                        #regUsernameCtrl="ngModel">
                    <mat-icon matPrefix>person</mat-icon>
                    @if (regUsernameCtrl.invalid && regUsernameCtrl.touched) {
                    <mat-error>Debe tener al menos 6 caracteres</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-group">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" name="regEmail" [(ngModel)]="regEmail" required
                        #regEmailCtrl="ngModel">
                    <mat-icon matPrefix>email</mat-icon>
                    @if (regEmailCtrl.invalid && regEmailCtrl.touched) {
                    <mat-error>
                        @if (regEmailCtrl.errors?.['required']) {
                        <div>El correo es obligatorio</div>
                        }
                        @if (regEmailCtrl.errors?.['pattern']) {
                        <div>Formato de correo inválido</div>
                        }
                    </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-group">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" name="regPassword" [(ngModel)]="regPassword" required minlength="6"
                        #regPasswordCtrl="ngModel">
                    <mat-icon matPrefix>lock</mat-icon>
                    @if (regPasswordCtrl.invalid && regPasswordCtrl.touched) {
                    <mat-error>Mínimo 6 caracteres</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-group">
                    <mat-label>Confirmar Contraseña</mat-label>
                    <input matInput type="password" name="regConfirmPassword" [(ngModel)]="regConfirmPassword" required
                        #regConfirmPasswordCtrl="ngModel">
                    <mat-icon matPrefix>lock</mat-icon>
                    @if (regConfirmPasswordCtrl.invalid && regConfirmPasswordCtrl.touched) {
                    <mat-error>Confirma tu contraseña</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="button-container">
                <button mat-raised-button type="submit" class="auth-btn" color="primary"
                    [disabled]="!registerForm.form.valid">
                    Registrar
                </button>
            </div>

            <div class="login-options center-text">
                <p class="account-exists" (click)="activeTab = 'userLogin'">¿Ya tienes una cuenta? Inicia sesión</p>
            </div>
        </form>
        }

        <!-- Login Usuario (con métodos) -->
        @if (activeTab === 'userLogin') {
        <div class="form-fields">
            <div class="form-header">
                <h2>Login Usuario</h2>
                <p>Selecciona un método de acceso</p>
                <div class="divider"></div>
            </div>

            <div class="tab-header">
                <button [class.active]="authMethod === 'password'" (click)="authMethod = 'password'">Contraseña</button>
                <button [class.active]="authMethod === 'sms'" (click)="authMethod = 'sms'">SMS</button>
                <button [class.active]="authMethod === 'social'" (click)="authMethod = 'social'">Gmail</button>
            </div>
            <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>

            <!-- Contraseña (Login con Firebase por correo) -->
            @if (authMethod === 'password') {
            <form (ngSubmit)="onUserLogin()" #userLoginForm="ngForm">
                <mat-form-field appearance="outline" class="form-group">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput type="email" [(ngModel)]="userEmail" name="userEmail" required email
                        #userEmailCtrl="ngModel">
                    <mat-icon matPrefix>email</mat-icon>
                    @if (userEmailCtrl.invalid && userEmailCtrl.touched) {
                    <mat-error>Correo inválido o vacío</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-group">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" [(ngModel)]="userPassword" name="userPassword" required
                        #userPasswordCtrl="ngModel">
                    <mat-icon matPrefix>lock</mat-icon>
                    @if (userPasswordCtrl.invalid && userPasswordCtrl.touched) {
                    <mat-error>La contraseña es obligatoria</mat-error>
                    }

                </mat-form-field>
                <div class="button-container">
                    <button mat-raised-button color="primary" type="submit" class="auth-btn"
                        [disabled]="!userLoginForm.form.valid">
                        Iniciar sesión
                    </button>
                </div>
            </form>
            }

            <!-- SMS -->
            <!-- SMS -->
            @if (authMethod === 'sms') {
            <!-- Contenedor invisible del reCAPTCHA -->
            <div id="recaptcha-container"></div>

            <!-- Formulario para enviar código -->
            <form #smsForm="ngForm">
                <mat-form-field appearance="outline" class="form-group">
                    <mat-label>Teléfono</mat-label>
                    <input matInput [(ngModel)]="telefono" name="telefono" required>
                    <mat-icon matPrefix>phone</mat-icon>
                </mat-form-field>
                <div class="button-container">
                    <button mat-raised-button type="submit" class="auth-btn" [disabled]="!smsForm.form.valid">
                        Enviar código
                    </button>
                </div>
            </form>

            <!-- Formulario para ingresar código recibido -->
            <form #codeForm="ngForm">
                <mat-form-field appearance="outline" class="form-group">
                    <mat-label>Código de verificación</mat-label>
                    <input matInput [(ngModel)]="codigo" name="codigo" required>
                    <mat-icon matPrefix>vpn_key</mat-icon>
                </mat-form-field>
                <div class="button-container">
                    <button mat-raised-button type="submit" class="auth-btn" [disabled]="!codeForm.form.valid">
                        Verificar código
                    </button>
                </div>
            </form>
            }


            <!-- Solo Gmail -->
            @if (authMethod === 'social') {
            <div class="button-container center-text">
                <br>
                <button mat-raised-button color="accent" (click)="onGoogleLogin()" class="auth-btn google-btn">
                    <div class="googleimage">
                        <img src="google.png" alt="Google" class="google-icon" />
                        Iniciar sesión con Google
                    </div>
                </button>

            </div>
            }

            <div class="button-container center-text">
                <button type="button" class="login-method-btn" (click)="activeTab = 'register'">
                    ¿No tienes cuenta? Regístrate aquí
                </button>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        }
    </div>
</div>