<section class="filosofia-section">
    <h2 class="section-title">Misión, Visión y Valores</h2>
    <div class="card-container">
      <div class="card">
        <img src="/img/cardacerca1.jpg" alt="Imagen Misión" class="card-img">
        <h3>Misión</h3>
        <p>Ofrecer una experiencia de hospedaje que equilibre el confort moderno con el respeto por la naturaleza, inspirando a nuestros huéspedes a reconectar con lo esencial.</p>
      </div>
      <div class="card">
        <img src="/img/img2.jpg" alt="Imagen Misión" class="card-img">
        <h3>Visión</h3>
        <p>Ser un referente de sostenibilidad y elegancia natural, promoviendo un turismo consciente y en armonía con el entorno.</p>
      </div>
      <div class="card">
        <img src="/img/cardacerca2.jpg" alt="Imagen Misión" class="card-img">
        <h3>Valores</h3>
        <ul>
          <li>Respeto por la naturaleza</li>
          <li>Calidez humana</li>
          <li>Compromiso con la sustentabilidad</li>
          <li>Elegancia natural</li>
          <li>Autenticidad</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="seccion-contacto-intermedia">
    <div class="contenido-contacto">
      <h2>¿Estas listo para reservar?</h2>
      <p>Estamos aquí para ayudarte a planear tu próxima escapada.</p>
      <p>Contáctanos al <a class="telefono">+52 444 999 4444</a></p>
    </div>
  </section>
  
  