<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-logo">
                Terra<span class="sabio">Essence</span>
            </div>
            <div class="footer-info">
                <p>Donde la esencia de la naturaleza se encuentra con el lujo moderno.</p>
                <p>Experiencia única en la naturaleza</p>
            </div>
            <div class="footer-social">
                <ul class="sci">
                    <li>
                        <a href="https://www.facebook.com/jaretzi.dominguezgallardo/" target="_blank" rel="noopener noreferrer">
                            <i class='bx bxl-facebook-circle'></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/jaretzi_dominguez?igsh=NG04ZXdpdGkzZTJ3&utm_source=qr" target="_blank" rel="noopener noreferrer">
                            <i class='bx bxl-instagram'></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://youtube.com/@jesusmontero3877?si=Tmab5qarT7xzoQU8" target="_blank" rel="noopener noreferrer">
                            <i class='bx bxl-youtube'></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com.mx/maps/place/Hotel+Rosa+Mexicano/@17.0634983,-96.7348303,17z/data=!3m1!5s0x85c722148a77d8df:0xc911aff0a56aa4a3!4m9!3m8!1s0x85c7239cba77582b:0x145511731a0efb28!5m2!4m1!1i2!8m2!3d17.0634983!4d-96.7322554!16s%2Fg%2F11jznxrx4p?entry=ttu&g_ep=EgoyMDI1MDUwNy4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer">
                            <i class='bx bxs-location-plus'></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="copy">
    &copy; 2025 TerraEssence. MiniProyecto Angular.
</div>
