.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 10px; /* Espacio entre input y botón */
}

.search-container input {
    width: 50%;
    max-width: 500px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all 0.3s ease;
}

.search-container input:focus {
    border-color: #473f38;
    box-shadow: 0 0 10px rgba(204, 122, 0, 0.2);
}

.search-container button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background-color: #473f38; /* Café oscuro */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-container button:hover {
    background-color: #5c4b3b; /* Café más claro al pasar el mouse */
    transform: scale(1.05);
}
